body{
    margin:0;
  }
  /* id */
#grid{
  display: grid;
  grid-template-columns: 200px 1fr;
}
#grid #article{
  padding-left: 25px;
}
#active {
  color: red;
}
  /* class */
.saw {
  color:powderblue;
}
/* 태그 */
a {
  color:blue;
  text-decoration:none;
}
h1 {
  font-size: 45px;
  text-align:center;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px
}
#grid ol{
  border-right:1px solid gray;
  width: 150px;
  margin:0;
  padding:20px;
  padding-left: 33px;
}
/* screen width < 800px */
@media(max-width:800px){
  #grid{
    display: block;
  }
  #grid ol{
    border-right:none
  }
  h1{
    border-bottom:none
  }
}

/* 메뉴선택 컬러변경 */
.selected {color:rgb(0, 0, 0)}
.selected {background-color:#3c9}
.selected {padding: left 10px}
.selected {padding: right 100%}
.selected {width: 150px;}
.depth_0 {background-color:#3c9}

