/* ==========================================================================
    公共样式
============================================================================ */
.wrap{width: 1430px;margin: 0 auto;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.hidden{overflow: hidden !important;}
.tran{transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);}
.tranX{transform: translateX(-50%);-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);}
.tranY{transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);}

@media screen and (max-width: 1440px) {
    .wrap{width: 1200px;}
}

@media screen and (max-width: 1280px) {
    .wrap{width: 1000px;}
}

@media screen and (max-width: 1024px) {
    .wrap{width: 720px;}
}
@media screen and (max-width: 767px) {
    .wrap{width: 94%;}
}

/* flex布局 */
.flex-item{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.flex-center{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.flex-middle{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.flex-box{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.flex-betw{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;}


/* ==========================================================================
    文字
============================================================================ */
.font16{font-size: 16px;}
.font14{font-size: 14px;}

@media only screen and (max-width: 1440px) {
	.font16{font-size: 14px;}
	.font14{font-size: 12px;}
}

@media only screen and (max-width: 1024px) {
	.font16{font-size: 12px;}
}

/* ==========================================================================
    距离
============================================================================ */
.pad80{padding: 80px;}
.pad70{padding: 70px;}
.pad60{padding: 60px;}
.pad50{padding: 50px;}
.pad40{padding: 40px;}
.pad30{padding: 30px;}
.pad20{padding: 20px;}

.marg80{margin: 80px;}
.marg70{margin: 70px;}
.marg60{margin: 60px;}
.marg50{margin: 50px;}
.marg40{margin: 40px;}
.marg30{margin: 30px;}
.marg20{margin: 20px;}

.pt80{padding-top: 80px;}
.pt70{padding-top: 70px;}
.pt60{padding-top: 60px;}
.pt50{padding-top: 50px;}
.pt40{padding-top: 40px;}
.pt30{padding-top: 30px;}
.pt20{padding-top: 20px;}

.pb80{padding-bottom: 80px;}
.pb70{padding-bottom: 70px;}
.pb60{padding-bottom: 60px;}
.pb50{padding-bottom: 50px;}
.pb40{padding-bottom: 40px;}
.pb30{padding-bottom: 30px;}
.pb20{padding-bottom: 20px;}

.mt80{margin-top: 80px;}
.mt70{margin-top: 70px;}
.mt60{margin-top: 60px;}
.mt50{margin-top: 50px;}
.mt40{margin-top: 40px;}
.mt30{margin-top: 30px;}
.mt20{margin-top: 20px;}

.mb80{margin-bottom: 80px;}
.mb70{margin-bottom: 70px;}
.mb60{margin-bottom: 60px;}
.mb50{margin-bottom: 50px;}
.mb40{margin-bottom: 40px;}
.mb30{margin-bottom: 30px;}
.mb20{margin-bottom: 20px;}


@media screen and (max-width: 1280px) {
    .pad80{padding: 66px;}
    .pad70{padding: 56px;}
    .pad60{padding: 46px;}
    .pad50{padding: 40px;}
    .pad40{padding: 36px;}
    
	.marg80{margin: 66px;}
	.marg70{margin: 56px;}
	.marg60{margin: 46px;}
	.marg50{margin: 40px;}
	.marg40{margin: 36px;}
	
	.pt80{padding-top: 66px;}
	.pt70{padding-top: 56px;}
	.pt60{padding-top: 46px;}
	.pt50{padding-top: 40px;}
	.pt40{padding-top: 36px;}
	
	.pb80{padding-bottom: 66px;}
	.pb70{padding-bottom: 56px;}
	.pb60{padding-bottom: 46px;}
	.pb50{padding-bottom: 40px;}
	.pb40{padding-bottom: 36px;}
	
	.mt80{margin-top: 66px;}
	.mt70{margin-top: 56px;}
	.mt60{margin-top: 46px;}
	.mt50{margin-top: 40px;}
	.mt40{margin-top: 36px;}
	
	.mb80{margin-bottom: 66px;}
	.mb70{margin-bottom: 56px;}
	.mb60{margin-bottom: 46px;}
	.mb50{margin-bottom: 40px;}
	.mb40{margin-bottom: 36px;}
}

@media screen and (max-width: 992px) {
    .pad80{padding: 56px;}
    .pad70{padding: 46px;}
    .pad60{padding: 36px;}
    .pad50{padding: 30px;}
    .pad40{padding: 26px;}
    .pad30{padding: 20px;}
    .pad20{padding: 16px;}
    
	.marg80{margin: 56px;}
	.marg70{margin: 46px;}
	.marg60{margin: 36px;}
	.marg50{margin: 30px;}
	.marg40{margin: 26px;}
	.marg30{margin: 20px;}
	.marg20{margin: 16px;}
	
	.pt80{padding-top: 56px;}
	.pt70{padding-top: 46px;}
	.pt60{padding-top: 36px;}
	.pt50{padding-top: 30px;}
	.pt40{padding-top: 26px;}
	.pt30{padding-top: 20px;}
	.pt20{padding-top: 16px;}
	
	.pb80{padding-bottom: 56px;}
	.pb70{padding-bottom: 46px;}
	.pb60{padding-bottom: 36px;}
	.pb50{padding-bottom: 30px;}
	.pb40{padding-bottom: 26px;}
	.pb30{padding-bottom: 20px;}
	.pb20{padding-bottom: 16px;}
	
	.mt80{margin-top: 56px;}
	.mt70{margin-top: 46px;}
	.mt60{margin-top: 36px;}
	.mt50{margin-top: 30px;}
	.mt40{margin-top: 26px;}
	.mt30{margin-top: 20px;}
	.mt20{margin-top: 16px;}
	
	.mb80{margin-bottom: 56px;}
	.mb70{margin-bottom: 46px;}
	.mb60{margin-bottom: 36px;}
	.mb50{margin-bottom: 30px;}
	.mb40{margin-bottom: 26px;}
	.mb30{margin-bottom: 20px;}
	.mb20{margin-bottom: 16px;}
}

@media screen and (max-width: 768px) {
    .pad80{padding: 36px;}
    .pad70{padding: 30px;}
    .pad60{padding: 26px;}
    .pad50{padding: 20px;}
    .pad40{padding: 15px;}
    .pad30{padding: 12px;}
    .pad20{padding: 10px;}

	.marg80{margin: 36px;}
	.marg70{margin: 30px;}
	.marg60{margin: 26px;}
	.marg50{margin: 20px;}
	.marg40{margin: 15px;}
	.marg30{margin: 12px;}
	.marg20{margin: 10px;}
	
	.pt80{padding-top: 36px;}
	.pt70{padding-top: 30px;}
	.pt60{padding-top: 26px;}
	.pt50{padding-top: 20px;}
	.pt40{padding-top: 15px;}
	.pt30{padding-top: 12px;}
	.pt20{padding-top: 10px;}
	
	.pb80{padding-bottom: 36px;}
	.pb70{padding-bottom: 30px;}
	.pb60{padding-bottom: 26px;}
	.pb50{padding-bottom: 20px;}
	.pb40{padding-bottom: 15px;}
	.pb30{padding-bottom: 12px;}
	.pb20{padding-bottom: 10px;}
	
	.mt80{margin-top: 36px;}
	.mt70{margin-top: 30px;}
	.mt60{margin-top: 26px;}
	.mt50{margin-top: 20px;}
	.mt40{margin-top: 15px;}
	.mt30{margin-top: 12px;}
	.mt20{margin-top: 10px;}
	
	.mb80{margin-bottom: 36px;}
	.mb70{margin-bottom: 30px;}
	.mb60{margin-bottom: 26px;}
	.mb50{margin-bottom: 20px;}
	.mb40{margin-bottom: 15px;}
	.mb30{margin-bottom: 12px;}
	.mb20{margin-bottom: 10px;}
}