/***********************公共样式***********************/
html,body{width: 100%;height: 100%;}

/*导航*/
.nav{height: 100px;width: 100%;background: #fff;position: fixed;top: 0;left: 0;z-index: 999;}
.nav::after{content: "";background: #2ecc71;background: -moz-linear-gradient(left, #2ecc71 0%, #2ecc71 2%, #1aaf5d 2%, #1aaf5d 30%, #227ebb 30%, #227ebb 40%, #2d97de 40%, #2d97de 43%, #2d97de 50%, #9c56b8 50%, #9c56b8 63%, #86479f 63%, #86479f 75%, #ea4b35 75%, #ea4b35 81%, #e87e04 81%, #e87e04 87%, #f3c600 87%, #f3c600 98%, #2ecc71 98%, #2ecc71 100%);background: -webkit-linear-gradient(left, #2ecc71 0%, #2ecc71 2%, #1aaf5d 2%, #1aaf5d 30%, #227ebb 30%, #227ebb 40%, #2d97de 40%, #2d97de 43%, #2d97de 50%, #9c56b8 50%, #9c56b8 63%, #86479f 63%, #86479f 75%, #ea4b35 75%, #ea4b35 81%, #e87e04 81%, #e87e04 87%, #f3c600 87%, #f3c600 98%, #2ecc71 98%, #2ecc71 100%);background: linear-gradient(to right, #2ecc71 0%, #2ecc71 2%, #1aaf5d 2%, #1aaf5d 30%, #227ebb 30%, #227ebb 40%, #2d97de 40%, #2d97de 43%, #2d97de 50%, #9c56b8 50%, #9c56b8 63%, #86479f 63%, #86479f 75%, #ea4b35 75%, #ea4b35 81%, #e87e04 81%, #e87e04 87%, #f3c600 87%, #f3c600 98%, #2ecc71 98%, #2ecc71 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ecc71', endColorstr='#2ecc71', GradientType=1);position: absolute;height: 5px;right: 0;left: 0;bottom: 0;}
.navSpace{width: 100%;height: 100px;}
.navMain{position: relative;height: 100%;}
.navMain .logo,.navMain .logoWrap{height: 100%;}
.navMain .logo a{display: block;height: 100%;line-height: 100px;}
.navMain .logo a img{max-height: 100%;max-width: 100%;display: inline-block;vertical-align: middle;}
.navMain .navItem{line-height: 100px;}
.navMain .navItem a,.navMain .navItem .navBtn{display: inline-block;vertical-align: middle;}
.navMain .navItem .navBtn a{width: 170px;line-height: 40px;padding: 0 20px;border-radius: 4px;position: relative;transition: all .2s ease;margin-left: 30px;}
.navMain .navItem .navBtn a em{display: inline-block;vertical-align:top;font-size: 16px;font-weight: 600;color: #fff;width: 85%;}
.navMain .navItem .navBtn a i{display:block;width: 18px;height: 18px;position: absolute;right: 20px;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);}
.navMain .navItem .navBtn a i img{max-width: 100%;max-height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);}
.navMain .navItem .navBtn a i .img1{opacity: 1;}
.navMain .navItem .navBtn a i .img2{top: 120%;opacity: 0;transition: all 0s;}
.navMain .navItem .navBtn a:hover{background: #333;}
.navMain .navItem .navBtn a:hover i .img1{opacity: 0;}
.navMain .navItem .navBtn a:hover i .img2{opacity: 1;top: 50%;transition: all .2s ease-in;}
.navMain .navItem .navBtn .submitBtn{background: #ea4b35;}
.navMain .navItem .navBtn .buyBtn{background: #2ecc71;}
.navMain .navItem .navLink ul li{float: left;margin-left: 30px;position: relative;}
.navMain .navItem .navLink ul li a{display: block;}
.navMain .navItem .navLink ul li .firstNav{font-size: 16px;color: #2d97de;padding: 0 10px;position: relative;transition: all .2s ease;font-weight: 600;}
.navMain .navItem .navLink ul li .firstNav i{display: inline-block;width: 10px;height: 10px;background:url(../img/arrow1_on.png) no-repeat center;background-size: 100%;margin-left:5px;transition: all .2s ease;}
.navMain .navItem .navLink ul li.active .firstNav,.navMain .navItem .navLink ul li .firstNav:hover{color: #333;}
.navMain .navItem .navLink ul li.active .firstNav i,.navMain .navItem .navLink ul li .firstNav:hover i{background:url(../img/arrow1.png) no-repeat center;background-size: 100%;}
.navMain .navItem .navLink ul li .secondNav{display:none;position: absolute;top: 70%;left: 0;background: #fff;min-width: 150px;border-radius: 4px;padding: 5px 0;box-shadow: 0.0625rem 0 0.375rem 0 rgba(0,0,0,.15)!important;z-index: 99;}
.navMain .navItem .navLink ul li .secondNav a{width: 100%;line-height: 30px;padding: 5px 15px;font-size: 16px;color: #2d97de;transition: all .2s ease;font-weight: 600;}
.navMain .navItem .navLink ul li .secondNav a:hover{background: #f8f9fa;color: #333;}

/*footer*/
.footer{padding: 15px 0;}
.footer p{font-size: 14px;color: #333;margin: 0 auto;text-align: center;width: 25%;}
.footer .img{width: 100%;text-align: center;margin-top: 15px;}
.footer .img img{max-width: 100%;}

@media only screen and (max-width: 1440px) {
	.navMain .navItem .navBtn a,.navMain .navItem .navLink ul li{margin-left: 20px;}
	.navMain .navItem .navBtn a em,.navMain .navItem .navLink ul li .firstNav,.navMain .navItem .navLink ul li .secondNav a{font-size: 14px;}
	.footer p{width: 29%;}
}
@media only screen and (max-width: 1280px) {
	.navMain .navItem .navBtn a, .navMain .navItem .navLink ul li{margin-left: 10px;}
	.navMain .navItem .navBtn a{padding: 0 10px;width: 150px;}
	.navMain .navItem .navBtn a i{right: 10px;}
	.navMain .navItem .navLink ul li .secondNav{min-width: 130px;}
	.footer p{width: 30%;font-size: 12px;}
	.footer .img{margin-top: 10px;}
}
@media only screen and (max-width: 1024px) {
	.nav{height: auto;}
	.navMain{width: 100%;}
	.navMain .logo a{line-height: 0;}
	.navMain .navItem{line-height: 40px;display: none;padding: 15px 0 30px;overflow-y: scroll;}
	.navMain .navItem .navBtn a em,.navMain .navItem .navLink ul li .firstNav,.navMain .navItem .navLink ul li .secondNav a{font-size: 12px;}
	.navMain .navItem,.navMain .navItem .navBtn,.navMain .navItem .navLink,.navMain .navItem .navLink ul li{width: 100%;}
	.navMain .navItem .navLink ul li a{text-align: center;line-height: 40px;}
	.navMain .navItem .navLink ul li .secondNav{position: static;}
	.navMain .navItem .navBtn a, .navMain .navItem .navLink ul li{margin: 0;}
	.navMain .navItem .navBtn a{width: 100%;}
	.navMain .logoWrap{width: 100%;height: 60px;padding: 10px 0;position: relative;}
	.menuBtn {position: absolute;width: 24px;height: 24px;right: 0;top: 50%;}
	.menuBtn span{display: block;width: 100%;height: 2px;background: #666;position: absolute;left: 0;top: 50%;margin-top: -1px;-webkit-transition: .4s;transition: .4s;border-radius: 2px;}
	.menuBtn .line1{-webkit-transform: translateY(-8px);transform: translateY(-8px);}
	.menuBtn .line3{-webkit-transform: translateY(8px);transform: translateY(8px);}
	.menuBtn.menuOn .line1{-webkit-transform: translateY(0) rotate(-45deg);transform: translateY(0) rotate(-45deg);-webkit-transition: .4s;transition: .4s;}
	.menuBtn.menuOn .line2{opacity: 0;-webkit-transition: .4s;transition: .4s;}
	.menuBtn.menuOn .line3{-webkit-transform: translateY(0) rotate(45deg);transform: translateY(0) rotate(45deg);-webkit-transition: .4s;transition: .4s;}
	.navSpace{height: 60px;}
	.footer p{width: 42%;}
}
@media only screen and (max-width: 767px) {
	.footer p{width: 100%;}
}


/*公告*/
.notice .noticeTitle{width: 100%;line-height: 40px;	text-align: center;}
.notice .noticeTitle a{display:block;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.noticeMain{width: 100%;}
.noticeL{width: calc(100% - 360px);}
.noticeL .noticeList{width: 100%;margin-top: -5px;}
.noticeL .noticeList1{margin-top: 5px;}
.noticeL .noticeList ul{margin: 0 -5px;}
.noticeL .noticeList ul li{float: left;padding: 5px;width: 16.66%;}
.noticeL .noticeListItemWrap{width: 100%;height: 100%;background: #fff;border-radius: 8px;padding: 16px 10px;}
.noticeL .noticeListTit{display:block;line-height: 20px;text-align: center;margin-bottom: 8px;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-weight: 600;transition: all .4s ease;}
.noticeL .noticeListTit:hover{color: red;}
.noticeL .noticeListItem a{display: block;width: 77%;margin: 0 auto;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 14px;line-height: 24px;transition: all .4s ease;}
.noticeL .noticeListItem a:hover{color: #45b6f8;}
.noticeL .noticeImg{width: 100%;margin: 5px 0;}
.noticeL .noticeImg .img{display:block;width: 100%;}
.noticeL .noticeImg .img img{max-width: 100%;width: 100%;}

.noticeR{width: 360px;padding-left: 15px;}
.noticeRImg{width: 100%;}
.noticeRImg .img{display: block !important;width: 100% !important;overflow: hidden !important;}
.noticeRImg .img img{max-width: 100%;transition: all .4s ease;}
.noticeRImg .img:hover img{transform: scale(1.1);}
.noticeImgWap{display: none;}

.widget {clear: both;position: relative;margin-bottom: 15px;background-color: #fff;border-radius: 4px;border: 1px solid #eaeaea;overflow: hidden;}
.widget:last-child {margin-bottom: 0;}
.widget h3 {font-weight: bold;font-size: 16px;color: #666;border-bottom: 1px solid #eaeaea;background-color: #fbfbfb;margin: 0;padding: 11px 15px 10px;}
.widget ul {*zoom: 1;list-style: none;padding: 0;margin: 0;}
.widget ul ul {border: none;}
.widget ul:before, 
.widget ul:after {display: table;content: "";line-height: 0}
.widget ul:after {clear: both}
.widget_ui_tags .items {overflow: hidden;padding: 15px 0 12px 15px;}
.widget_ui_tags .items a {color: #999;background-color: #f6f6f6;float: left;width: 31.3333%;margin: 0 1% 1% 0;padding: 0 8px;font-size: 12px;height: 29px;line-height: 29px;overflow: hidden;}
.widget_ui_tags .items a:hover {color: #fff;background-color: #45B6F7;}
.widget_ui_posts li:last-child a {border-bottom: none;}
.widget_ui_posts li a {padding: 10px 15px 10px 150px;color: #888;border-bottom: solid 1px #eee;overflow: hidden;position: relative;display: block;font-size: 14px}
.widget_ui_posts li a:hover {background-color: #fbfbfb;}
.widget_ui_posts li a:hover .text {color: #45B6F7;}
.widget_ui_posts .text {display: block;}
.widget_ui_posts .text span{color: #FF5E52;}
.widget_ui_posts a:hover .text span{color: #45B6F7;}
.widget_ui_posts .thumbnail {float: left;margin-left: -135px}
.widget_ui_posts .thumbnail img {width: 122px;height: 86px}
.widget_ui_posts .muted {margin-right: 15px;font-size: 12px;color: #bbb;}
.widget_ui_posts .nopic li a {padding: 10px 15px;}
.widget_ui_posts .nopic .text {margin-top: 0;color: #888;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.widget_ui_posts .nopic .text:hover {color: #45B6F7;}

@media only screen and (max-width: 1440px) {
	.noticeL .noticeList ul li{width: 25%;}
	.noticeL{width: calc(100% - 300px);}
	.noticeR{width: 300px;}
	.widget_ui_tags .items a{width: 49%;}
	.noticeL .noticeListItemWrap{padding: 8px 10px;}
	.noticeL .noticeListTit{margin-bottom: 3px;}
	.noticeL .noticeListItem a{line-height: 22px;}
	.widget h3{font-size: 14px;}
	.noticeL .noticeListItem a{width: 57%;}
}

@media only screen and (max-width: 1280px) {
	.noticeL .noticeListItem a{width: 76%;}
}

@media only screen and (max-width: 1024px) {
	.noticeL,.noticeR{width: 100%;}
	.noticeImgWap{display: block;}
	.noticeImgPC{display: none;}
	.noticeR{padding: 0;margin-top: 10px;}
	.widget_ui_tags .items a{width: 31.3333%;}
	.noticeL .noticeListItem a{font-size: 12px;}
	.widget h3,.widget_ui_posts li a{font-size: 12px;}
	.notice .noticeTitle{line-height: 30px;}
	.noticeL .noticeListItem a{width: 65%;}
}
@media only screen and (max-width: 767px) {
	.noticeL .noticeList ul li{width: 33.33%;}
	.noticeL .noticeListItemWrap{padding: 8px 6px 5px;}
	.noticeL .noticeListItem a{width: 96px;max-width: 100% !important;}
}

.adImg{margin: 10px auto;}
.adImg .img{display: block;width: 100%;}
.adImg .img img{width: 100%;max-width: 100%;}

/*便民广告*/
.adCom{margin-top: 15px;}
.adCom1{margin-top: 10px;}
.bmTit{display: inline-block; vertical-align: middle;min-width: 140px;line-height: 40px;text-align: center;padding: 0 10px;font-size: 16px;color: #fff;background: #45b6f8;margin-bottom: 10px;}
.bmList{width: 100%;}
.bmList ul{margin: 0 -5px;}
.bmList ul li{float: left;width: 12.5%;padding: 5px;}
.bmList ul li a{display: block;width: 100%;height: 100%;line-height: 50px;background: #fff;border-radius: 4px;font-size: 16px;color: #333;padding: 0 10px;text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;transition: all .4s ease;}
.bmList ul li a:hover{background: #45b6f8;color: #fff;}

@media only screen and (max-width: 1440px){
	.bmTit,.bmList ul li a{font-size: 14px;}
	.bmList ul li{width: 16.6666%;}
	.bmList ul li a{line-height: 45px;}
}
@media only screen and (max-width: 1024px){
	.adImg{margin: 15px auto;}
	.bmList ul li{width: 25%;}
	.bmTit, .bmList ul li a{font-size: 12px;}
	.bmTit{min-width: 120px;line-height: 35px;}
	.bmList ul li a{line-height: 40px;}
}
@media only screen and (max-width: 767px){
	.bmList ul li{width: 33.3333%;}
	.bmTit{min-width: 100px;line-height: 30px;}
	.bmList ul li a{line-height: 35px;}
}

/*图片广告*/
.photoAdList{width: 100%;}
.photoAdList ul{margin: 0 -15px;}
.photoAdList ul li{float: left;width: 25%;padding: 5px 15px;}
.photoAdList ul li .img{display: block;width: 100%;height: 100%;overflow: hidden;}
.photoAdList ul li .img img{width: 100%;max-width: 100%;transition: all .4s ease;}
.photoAdList ul li .img:hover img{transform: scale(1.1);}
@media only screen and (max-width: 1280px){
	.photoAdList ul{margin: 0 -10px;}
	.photoAdList ul li{padding: 5px 10px;}
}
@media only screen and (max-width: 1024px){
	.photoAdList ul{margin: 0 -2px;}
	.photoAdList ul li{padding: 5px 2px;}
}
@media only screen and (max-width: 767px){
	.photoAdList ul li{width: 50%;}
	.photoAdList ul li{padding: 2px;}
}

.baiduAd{background: #fff;padding: 0 30px 15px;background: #fff;margin: 10px auto 0;border-bottom: 1px solid #5a5f62;position: relative;}
.baiduAd .adLink a{float:left;display: block;line-height: 40px;background: #dce8f6;text-align: center;padding: 0 10px;margin: 5px 5px 0 0;font-size: 16px;color: #333;}
.baiduAd .close{display:block;position: absolute;bottom: 15px;right: 33px;padding: 0 0 0 5px;background: rgba(0,0,0,0.5);height: 18px;line-height: 18px;font-size: 12px;color: #fff;}
.baiduAd .close em,.baiduAd .close i{display: inline-block;vertical-align: middle;width: 18px;height: 100%;}
.baiduAd .close em img,.baiduAd .close i img{width: 100%;}
@media only screen and (max-width: 1440px) {
	.baiduAd .adLink a{font-size: 14px;line-height: 35px;}
	.baiduAd .adLink h1{font-size: 18px;line-height: 35px;text-align: center;}
}
@media only screen and (max-width: 1024px) {
	.baiduAd .adLink a{font-size: 12px;line-height: 30px;}
	.baiduAd .adLink h1{font-size: 16px;line-height: 35px;text-align: center;}
}
@media only screen and (max-width: 767px) {
	.baiduAd{padding: 0 4px 10px;}
	.baiduAd .close{bottom: 10px;}
}


/*引流seo内容*/
.scoMain{padding-bottom: 15px;position: relative;}
.scoMain::after{content: "";background: #2ecc71;background: -moz-linear-gradient(left, #2ecc71 0%, #2ecc71 2%, #1aaf5d 2%, #1aaf5d 30%, #227ebb 30%, #227ebb 40%, #2d97de 40%, #2d97de 43%, #2d97de 50%, #9c56b8 50%, #9c56b8 63%, #86479f 63%, #86479f 75%, #ea4b35 75%, #ea4b35 81%, #e87e04 81%, #e87e04 87%, #f3c600 87%, #f3c600 98%, #2ecc71 98%, #2ecc71 100%);background: -webkit-linear-gradient(left, #2ecc71 0%, #2ecc71 2%, #1aaf5d 2%, #1aaf5d 30%, #227ebb 30%, #227ebb 40%, #2d97de 40%, #2d97de 43%, #2d97de 50%, #9c56b8 50%, #9c56b8 63%, #86479f 63%, #86479f 75%, #ea4b35 75%, #ea4b35 81%, #e87e04 81%, #e87e04 87%, #f3c600 87%, #f3c600 98%, #2ecc71 98%, #2ecc71 100%);background: linear-gradient(to right, #2ecc71 0%, #2ecc71 2%, #1aaf5d 2%, #1aaf5d 30%, #227ebb 30%, #227ebb 40%, #2d97de 40%, #2d97de 43%, #2d97de 50%, #9c56b8 50%, #9c56b8 63%, #86479f 63%, #86479f 75%, #ea4b35 75%, #ea4b35 81%, #e87e04 81%, #e87e04 87%, #f3c600 87%, #f3c600 98%, #2ecc71 98%, #2ecc71 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ecc71', endColorstr='#2ecc71', GradientType=1);position: absolute;height: 5px;right: 0;left: 0;bottom: 0;}
.seoList ul li{width: 100%;}
@media only screen and (max-width: 1024px) {
.seoList ul li{width: 100%;}
}


/*竖屏*/
@media only screen and (orientation:portrait) {
	#noticeImgWap{display: block;}
}
/*横屏*/
@media only screen and (orientation:landscape) {
	#noticeImgWap{display: none;}
}